*{
    margin: 0px;
    padding: 0px;
}

.nav-bar{
    position: relative;
    height: 19vw;
    background-color: blanchedalmond;
    
}
.title{
    position: absolute;
    vertical-align:middle;
    font-size:5vw;
    top:5vw;
    left: 3px;
}
.menu-bar{
    position:absolute;
    right:1vw;
    top:3vw;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.menu-bar div{
    box-sizing: border-box;
    width: 10vw; 
    height: 1.5vw;
    margin:1vw 1vw 0 1vw;
    margin-bottom: 1vw;
    border-radius: 2px;
    background-color: blue;
}
.Slides{
    width: 200px;
    height: 100px;
}
.news-slides{
    display: none;
}

@media only screen and (min-width: 600px) {
    .nav-bar{
        position: relative;
        height: 100px;
        background-color: blanchedalmond;
        
    }
    .menu-bar{
        display: none;
    }

}